@import "color";
@import "reset";

.container {
  // width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .wrapper {
    position: relative;
    width: 66rem;
    height: 43rem;

    & > .cover {
      position: absolute;
      width: 50%;
      height: 100%;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      background: $cover-color;
      box-shadow: 0 0 0.6rem rgba($color: #000000, $alpha: 0.2);
      transform-origin: right;
    }

    & > .turn {
      transform: rotateY(180deg);
    }

    & > .book {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 1.2rem;
      position: relative;

      & > .page {
        position: absolute;
        width: calc(50% - 1.2rem);
        height: calc(100% - 2.4rem);
        background: $page-color;
        z-index: 1;
        transform-origin: left;
        transform-style: preserve-3d;
        transition: 1s all;

        .page-title {
          text-transform: capitalize;
          text-align: center;
          margin: 1rem 0;
        }
        & > .about {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          & > .profile {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid $main-color;
          }

          & > .profession {
            color: $main-color;
            font-weight: 900;
            text-transform: capitalize;
          }

          & > .social-list {
            display: flex;
            margin: 0.5rem 0;
            & > .social-item {
              margin: 0 0.2rem;
              & > .social-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $main-color;
                color: $main-color;
                transition: 0.3s;

                &:hover {
                  color: $main-text-color;
                  background-color: $main-color;
                }
              }
            }
          }

          & > .biography {
            padding: 1.3rem;
            font-family: cursive;
          }
        }

        & > .front,
        & > .back {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 0 2rem;

          & > .work-experience {
            & > .experience-list {
              padding: 0 1.5rem;

              & > .experience-item {
                padding: 0 1.5rem 1rem;
                position: relative;

                &:last-of-type {
                  padding-bottom: 0;
                }
                & > .expreience-date {
                  color: $main-color;
                  font-weight: bold;
                }

                & > .experience-title {
                  font-weight: 900;
                }

                & > .experience-text {
                  font-family: cursive;
                }

                &::before {
                  content: "";
                  position: absolute;
                  height: 20px;
                  width: 20px;
                  border-radius: 50%;
                  background: $cover-color;
                  top: 0;
                  left: 0;
                  z-index: 1;
                }

                &::after {
                  content: "";
                  position: absolute;
                  height: 100%;
                  width: 1px;
                  background: $cover-color;
                  left: 0;
                  top: 0;
                  transform: translateX(10px);
                }
              }
            }
          }
          & > .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            & > .service {
              width: 45%;
              border: 3px solid $main-color;
              padding: 1rem;
              margin: 0.5rem 0;
              & > .service-header {
                text-align: center;

                & > .service-icon {
                  color: $main-color;
                  font-size: x-large;
                }
              }

              & > .service-body {
                & > .service-title,
                & > .service-text {
                  text-align: center;
                }
                & > .service-title {
                  margin: 0.5rem 0;
                }

                & > .service-text {
                  margin: 1rem 0;
                }
              }

              & > .service-footer {
                .buton {
                  font-size: medium;
                }
              }
            }
          }

          & > .skills {
            margin: 1rem 0;

            & > .skill-list {
              display: flex;
              flex-wrap: wrap;
              
              & > .skill-item {
                border: 2px solid $main-color;
                width: 100px;
                height: fit-content;
                padding: 0.5rem 1rem;
                margin: 0.5rem;
                text-align: center;
                border-radius: 0.4rem;
                margin-left: 0;

                & > .skill-icon {
                  color: $main-color;
                  font-size: 3rem;
                }
              }
            }
          }
          & > .pagination {
            position: fixed;
            width: calc(100% - 2.4rem);
            top: calc(100% - 2.4rem);

            & > p.page-number {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }

            & > button{
              background-color: transparent;
              border: none;
              position: absolute;
              transition: 1s all;

              &:hover{
                color: $main-color;
              }
            }

            & > .next {             
              left: calc(100% - 2.4rem);
            }

            
          }
        }
        & > .front {
          backface-visibility: hidden;
          transform: rotateY(0deg) translateZ(1px);
        }

        & > .back {
          transform: rotateY(180deg) translateZ(1px);
        }
      }

      & > .page-turned {
        transform: rotateY(180deg);
        z-index: 3;
      }

      & > .page-right {
        left: 50%;
      }
    }
  }
}
